.wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 0.875rem;
}

.input {
  margin: 0;
  padding: 0.625rem 0 0.625rem 1rem;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  width: 100%;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
}

.input::placeholder {
  color: var(--text-placeholder);
  margin: 0;
  line-height: normal;
}

.input:focus::placeholder {
  color: var(--text-primary);
}

.input:focus {
  outline: none;
  border: 1px solid var(--border-focus);
}
